.wrapper {
    background: black
}
.row1 {
    background: red
}
    .row1-1 {
        background: orange
    }
    .row1-2 {
        background: yellow;
        height: 300px;
    }
    .row1-3 {
        background: #f7f7f7
    }
.row2 {
    background: blue;
    }
        .row2-1 {
            background: teal
        }
        .row2-2 {
            background: green
        }
        .row2-3 {
            background: turquoise
        }
.row3 {
    background: indigo
    }
        .row3-1 {
            background: purple
        }
        .row3-2 {
            background: pink
        }
        .row3-3 {
            background: thistle
        }
div {text-align: center; vertical-align: middle}