<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">


  <div class="row1" fxLayout="row" fxLayoutAlign="space-around">
      <div class="row1-1" fxFlex="1" fxFlex="20%">
          <p>row1-1</p>
      </div>
      <div class="row1-2" fxFlex="5" fxFlex="20%">
          <p>row1-2</p>
      </div>
      <div class="row1-3" fxFlex="1" fxFlex="fill">
          <p>row1-3</p>
      </div> 
  </div>
  <br/>
  <div class="row2" fxLayout="column" flexLayoutAlign="space around center">
      <div class="row2-1">
        <p>row2-1</p>
      </div>
      <div class="row2-2" fxFlex="300px">
          <p>row2-2</p>
      </div>
      <div class="row2-3">
          <p>row2-3</p>
      </div>
  </div>
  <br/>
  <div class="row3" fxLayout="row" fxLayout.xs="column">
      <div class="row3-1">
        <p>row3-1</p>
      </div>
      <div class="row3-2" fxFlex="fill">
          <p>row3-2</p>
      </div>
      <div class="row3-3">
          <p>row3-3</p>
      </div>
  </div>

</div>

